.header {
    height: 80px;
    background-color: #1C2B35;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 140px;
    padding-right: 140px;
}

.header a {
    color: aliceblue;
    padding: 10px;
    text-decoration: none;
}

.header a:hover {
    color: yellow;
}